body{
  font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
  margin:0px;
}
.header-section{
  text-align: right;
  padding: 220px 200px 170px 850px;
  max-height: 100vh;
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: 100% 750px;
}
.all-tittle{
  color: #FFF;
font-size: 65px;
font-weight: 700;
padding-left: 100px;
}
.all-text{
  color: #FFF;
  padding-left: 40px;
font-size: 16px;
font-weight: 400;
margin: 30px 0px;
}
.all-btn{
  color: #005FAC;
font-size: 20px;
font-weight: 600;
padding: 20px 25px;
border-radius: 5px;
background-color: #FFF;
border: 0px;
cursor: pointer;
}
main{
  max-width: 1600px;
}
.failure{
  display: flex;
  align-items: center;
  gap: 87px;
  margin: 200px;
  justify-content: center;
}
.failure-tittle{
  color: #151414;
font-size: 40px;
font-weight: 700;
}
.failure-para{
  color: #444343;
font-size: 16px;
font-weight: 400;
margin: 20px 0px;
}
main li{
  color: #444343;
  margin-bottom: 8px;
}
/* my plan secsion */
.plan-tittle{
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.skill-container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.skill{
  text-align: center;
}
.skill-tittle{
  color: #151414;
font-size: 30px;
font-weight: 700;
margin-top: 25px;
margin-bottom: 15px;
}
.skill-text{
  color: #737272;
font-size: 25px;
font-weight: 500;
}
.call{
  margin: 130px 0px;
  background-image:linear-gradient(to right,#005FAC 0%, rgba(0, 95, 172, 0.00) 100%),
   url("../images/watch.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  background-size: cover;
  padding: 60px;
  margin-left: 100px;
}
.btn{
  margin-top: 24px;
}
/* footer section */
footer{
  padding: 130px 230px;
  background-color: #151414;
}
.footer-part{
  display: flex;
  justify-content: space-around;
  gap: 330px;
  background-color: #151414;
}
.footer-tittle{
  color: #F8F8F8;
  font-size: 45px;
  font-weight: 700;
}
.footer-text{
  color: #FFF;
font-size: 16px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 25px;
}
.icon{
  display: inline-flex;
  gap: 20px;

}
.sub-btn{
  border-radius: 8px;
background: #005FAC;
padding: 20px 35px;
color: #FFF;
font-size: 20px;
font-weight: 600;
margin-top: 16px;
cursor: pointer;
}
.input-email{
  padding: 21px 158px 20px 21px;
  color: #F3F3F3;
font-size: 18px;
font-weight: 400;
margin-top: 30px;
}